@mixin index-page($theme){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .p-index{
    &__grid{

    }
    &__grid-row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      font: $body-small-default ;
      &--header{
        font: $body-small-bold ;
      }
      &:not(:last-child){
        border-bottom: 1px solid map-get($foreground, divider);
      }
    }
    &__column{
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child){
        border-right:  1px solid map-get($foreground, divider);
      }
    }
  }
  ul{
    list-style-type: "* ";
    padding-left: $base-space-md;
    font:$body-small-bold;
    li::marker{
      vertical-align: middle;
      margin-right: $base-space-xs;
    }
  }
}
