<mat-toolbar class="c-header" color="primary">
  <mat-toolbar-row class="c-header__toolbar">
    <div class="c-header__wrapper">
      <img class="c-header__logo" src="assets/img/LOGO.png" alt="logo">
      <ul class=" c-header__nav ">
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">USUARIOS</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item c-header__nav-item--active">
          <div class="c-header__nav-item-label">INICIOS</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">INCIDENCIAS</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">DIRECTORIO</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">C.PRESENCIA</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">COBRO</div>
          <div class="c-header__nav-indicator"></div>
        </li>
      </ul>
      <ul class=" c-header__nav  c-header__nav--mobile">
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">USUARIOS</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item c-header__nav-item--active">
          <div class="c-header__nav-item-label">INICIOS</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li mat-ripple class="c-header__nav-item ">
          <div class="c-header__nav-item-label">INCIDENCIAS</div>
          <div class="c-header__nav-indicator"></div>
        </li>
        <li   class="c-header__nav-item " [matMenuTriggerFor]="menu">
          <button mat-flat-button>
            <mat-icon color="primary">add</mat-icon>
          </button>
        </li>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>DIRECTORIO</button>
          <button mat-menu-item>C.PRESENCIA</button>
          <button mat-menu-item>COBRO</button>
        </mat-menu>
      </ul>
    </div>
    <div class="c-header__wrapper ">
      <div class="a-avatar a-avatar--medium">
        <img src="https://i.pinimg.com/originals/86/08/70/860870066df05a7a29bcb5bb9ea2e9a7.jpg" alt="avatar" class="a-avatar__image">
      </div>
      <div class="m-r-16 m-l-16">
        <div class="body-small-medium ">Merce</div>
        <div class="body-small-default">Social Worker</div>
      </div>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="l-main__container">
  <mat-drawer class="l-main__side-nav" mode="side" opened>
    <div class="flex-box align-items-center justify-content-start p-t-12 p-b-12 p-l-16 p-r-16">
      <div class="input-type-default">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Ex. Pizza" value="Sushi">
          <mat-icon matSuffix color="primary">search</mat-icon>
        </mat-form-field>
      </div>
      <button mat-icon-button color="primary">
        <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
      </button>
    </div>
    <div class="c-side-nav">
      <div mat-ripple class="c-side-nav__item">
        <div class="c-side-nav__labels">
          <div class="c-side-nav__title">Lopez, Juan</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>
        <div class="c-side-nav__labels flex-box flex-direction-column align-items-end">
          <div class="c-chip c-chip--success invert-false">On hold</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>

      </div>
      <div mat-ripple class="c-side-nav__item">
        <div class="c-side-nav__labels">
          <div class="c-side-nav__title">Lopez, Juan</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>
        <div class="c-side-nav__labels flex-box flex-direction-column align-items-end">
          <div class="c-chip c-chip--success invert-false">On hold</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>

      </div>
      <div mat-ripple class="c-side-nav__item">
        <div class="c-side-nav__labels">
          <div class="c-side-nav__title">Lopez, Juan</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>
        <div class="c-side-nav__labels flex-box flex-direction-column align-items-end">
          <div class="c-chip c-chip--success invert-false">On hold</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>

      </div>
      <div mat-ripple class="c-side-nav__item">
        <div class="c-side-nav__labels">
          <div class="c-side-nav__title">Lopez, Juan</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>
        <div class="c-side-nav__labels flex-box flex-direction-column align-items-end">
          <div class="c-chip c-chip--success invert-false">On hold</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>

      </div>
      <div mat-ripple class="c-side-nav__item">
        <div class="c-side-nav__labels">
          <div class="c-side-nav__title">Lopez, Juan</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>
        <div class="c-side-nav__labels flex-box flex-direction-column align-items-end">
          <div class="c-chip c-chip--success invert-false">On hold</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>

      </div>
      <div mat-ripple class="c-side-nav__item">
        <div class="c-side-nav__labels">
          <div class="c-side-nav__title">Lopez, Juan</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>
        <div class="c-side-nav__labels flex-box flex-direction-column align-items-end">
          <div class="c-chip c-chip--success invert-false">On hold</div>
          <div class="c-side-nav__subtitle">Calle Carruana, 5</div>
        </div>

      </div>
      <div class="fab-wrapper">
        <button mat-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="l-page">
    <div class="l-page__header">
      <h4 class="accent-text--primary">Lopez, Juan</h4>
      <button mat-flat-button color="primary">Editar</button>
    </div>
    <div class="l-page__content">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Datos expediente</div>
            </div>
            <div class="c-card__body">
              <div class="grid-5">
                <div class="flex-box flex-direction-column">
                  <small class="body-small-medium body-content--secondary">Fecha de Incicio</small>
                  <strong class="body-small-medium ">23/03/2020</strong>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
              </div>
              <div class="grid-5">
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
              </div>
              <div class="grid-5">
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Antecedentes</div>
            </div>
            <div class="c-card__body">
              <div class="grid-5">
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
              </div>
              <div class="m-b-16">
                <div class="">
                  <div class="body-small-medium body-content--secondary">Inform Inicial</div>
                  <p class="body-small-medium ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
              <div class="m-b-16">
                <div class="">
                  <div class="body-small-medium body-content--secondary">Observaciones</div>
                  <p class="body-small-medium ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Antecedentes</div>
            </div>
            <div class="c-card__body">
              <div class="grid-5">
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
                <div class="">
                  <div class="body-small-medium body-content--secondary">Fecha de Incicio</div>
                  <div class="body-small-medium ">23/03/2020</div>
                </div>
              </div>

            </div>
          </div>
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Antecedentes</div>
            </div>
            <div class="c-card__body">
              <div class="m-b-16">
                <div class="">
                  <p class="body-small-medium ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Datos expediente</div>
            </div>
            <section class="c-card__body">
                <span class="body-small-medium body-content--secondary">Lopez, Juan</span>
                <div class="body-small-medium body-content--secondary">Mujer 11/12/1975</div>
                <span class="body-small-medium body-content--secondary">Soltero/a</span>
            </section>
            <section class="c-card__body">
              <span class="body-small-medium body-content--secondary">Calle Caruana, 5</span>
              <div class="body-small-medium body-content--secondary">46520 Puerto de Sagunto(Valencia)</div>
              <span class="body-small-medium body-content--secondary">Tel: 922 454 647/ 922 484 950</span>
            </section>
            <div class="c-card__footer flex-box justify-content-center">
              <button mat-button color="primary">
                Ver mas datos <mat-icon>expand_more</mat-icon>
              </button>
            </div>
          </div>
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Datos expediente</div>
            </div>

            <section class="c-card__body">
              <div class="flex-box flex-direction-column m-b-16">
                <small class="body-small-medium body-content--secondary">Fecha de Incicio</small>
                <strong class="body-small-medium ">23/03/2020</strong>
              </div>
              <div class="flex-box flex-direction-column m-b-16">
                <small class="body-small-medium body-content--secondary">Fecha de Incicio</small>
                <p class="body-small-medium ">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
              <div class="p-index__grid">
                <div class="p-index__grid-row p-index__grid-row--header">
                  <div class="p-index__column">L</div>
                  <div class="p-index__column">M</div>
                  <div class="p-index__column">X</div>
                  <div class="p-index__column">J</div>
                  <div class="p-index__column">V</div>
                  <div class="p-index__column">S</div>
                  <div class="p-index__column">D</div>
                </div>
                <div class="p-index__grid-row">
                  <div class="p-index__column">1:00</div>
                  <div class="p-index__column">1:00</div>
                  <div class="p-index__column">1:00</div>
                  <div class="p-index__column">1:00</div>
                  <div class="p-index__column">1:00</div>
                  <div class="p-index__column">-</div>
                  <div class="p-index__column">-</div>
                </div>
              </div>
            </section>
          </div>
          <div class="c-card">
            <div class="c-card__header">
              <div class="c-card__title accent-text--primary">Tareas</div>
            </div>
            <div class="c-card__body">
              <ul>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
                <li>Limpieza de choque</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
