@mixin header-component($theme){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .c-header {
    position: sticky;
    top: 0;
    z-index: 100;
    color: map-get($primary, 100);
    &__toolbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: map-get($primary, 100);
    }
    &__wrapper {
      display: flex;
      align-items: center;
      padding: 0 $base-space-sm;
      &--flex{
        display: flex;
      }
    }
    &__logo{
      height: 48px;
      background-size: cover;
      background-position: center;
    }
    &__title{
      font:$heading-desktop-h6;
    }
    &__subtitle{
      font:$body-small-default;
    }

    &__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0;
      list-style-type: none;

      @media only screen and (max-width: 1024px) {
        display:flex ;
      }
      @media only screen and (max-width: 768px) {
        display:none ;
      }
    }
    &__nav--mobile{
      display: none;
      @media only screen and (max-width: 1200px) {
        display:none ;
      }
      @media only screen and (max-width: 960px) {
        display:none ;
      }
      @media only screen and (max-width: 1024px) {
        display:none ;
      }
      @media only screen and (max-width: 768px) {
        display:flex ;
      }
    }
    &__nav-item{
      padding:0 $base-space-md;
      cursor: pointer;
      user-select: none;
      &:hover{
        background-color: map-get($background, hover);
      }
    }
    &__nav-indicator{
      height: 4px;
      background-color: transparent;;
    }
    &__nav-item--active{
      .c-header__nav-indicator{
        background-color: map-get($primary,100);
      }
    }
    &__nav-item-label{
      padding: $base-corner-sm 0;
      font: $body-small-medium;
    }
  }
}
