@mixin side-nav-component($theme){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .c-side-nav{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    flex: 1 1 100%;
    border-top: 1px solid map-get($foreground, divider);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
      height:8px;
      border-radius: $base-corner-xs;
    }
    &::-webkit-scrollbar-track {
      background:  map-get($primary, 100);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: $base-corner-xs;
      background:  map-get($primary, default);
      box-shadow: inset 1px 1px 0 rgba(255,255,255,0.10), inset 0 -1px 0 rgba(255,255,255,0.07);
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(black, 0.38);
    }
    &__item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: $base-corner-xs $base-space-md;
      border-bottom:1px solid map-get($foreground, divider);
      cursor: pointer;
      min-height: 50px;
      &:hover{
        background-color: map-get($background, hover);
      }
    }
    &__labels{

    }
    &__title{
      font: $body-small-medium;
      color: map-get($foreground, text);
    }
    &__subtitle{
      font: $body-xsmall-default;
      color: map-get($foreground, secondary-text);
    }
  }
}
