<div mat-dialog-title class=" ">
  <h6 class="accent-text--primary">Dialog Title</h6>
  <button mat-icon-button color="primary" (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content class="">
  <div class="m-b-16">
    <div class="input-type-default">
      <div class="input-type-default__label">Input label</div>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Placeholder" >
      </mat-form-field>
    </div>
  </div>
  <div class="m-b-16">
    <div class="input-type-default">
      <div class="input-type-default__label">Input label</div>
      <mat-form-field class="example-full-width" appearance="outline">
        <textarea matInput ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="flex-box">
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
      <mat-checkbox color="primary"></mat-checkbox>
      <div class="body-xsmall-defalut">Label</div>
      <div class="input-type-default">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Placeholder" >
        </mat-form-field>
      </div>
    </div>
    </div>
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="body-xsmall-defalut">Label</div>
        <div class="input-type-default">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Placeholder" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="body-xsmall-defalut">Label</div>
        <div class="input-type-default">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Placeholder" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="body-xsmall-defalut">Label</div>
        <div class="input-type-default">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Placeholder" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="body-xsmall-defalut">Label</div>
        <div class="input-type-default">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Placeholder" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="body-xsmall-defalut">Label</div>
        <div class="input-type-default">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Placeholder" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class=" m-l-8 m-r-8">
      <div class="flex-box flex-direction-column align-items-center justify-content-center">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="body-xsmall-defalut">Label</div>
        <div class="input-type-default">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Placeholder" >
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>
</div>
<div mat-dialog-actions class="">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary">Guardar</button>
</div>
